<div class="bg-top h-screen flex flex-col" >


    <div class=" grid grid-cols-10 sm:grid-cols-12 ">
        <button (click)="onPressedBackButton()" class="col-span-1 col-start-1 sm:col-start-1  justify-self-end md:justify-self-center
                    mt-36 md:mt-20 mr-0 xl:mr-12 text-black   text-xs md:text-base ">
                    Volver
        </button>
    </div>

    <p class=" px-6 textWithBorderBlack border-black mt-2
     text-black justify-self-start font-bold text-base md:text-xl lg:text-2xl">
        Negocios, Productos & Servicios
    </p>

    <p *ngIf="inSubCategoria" class="px-6 pt-2 border-black text-black  text-sm md:text-lg lg:text-xl">
        Categoria: {{nombreCategoriaActual}}
    </p>
    
    <p *ngIf="clickedSubCategoria" class=" px-6 pt-2 border-black text-black  text-sm md:text-lg lg:text-xl">
        Subcategoria: {{nombreSubCategoriaActual}}
    </p>

    <div class="grid grid-cols-1 pb-5" >
        <app-proveedor-tarjeta class = "mt-8 border-t-[1px] border-gray-400 pt-8	 " *ngFor="let productoServicioNegocio of lista_productoServicioNegocio"
        [productoServicioNegocio]="productoServicioNegocio">
            
        </app-proveedor-tarjeta>
    </div>
   
</div>
